* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}

.w {
    width: 1100px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.shouye {
    margin-top: 30px;
}

.shouye a {
    font-weight: 200;
    color: gray;
}

.shouye a:hover {
    text-decoration: underline;
}

.container-tab {
    margin-top: 30px;
    padding: 20px;
    background-color: #dcdcdc;
}

.tab_list {
    float: left;
    background-color: white;
    width: 150px;
    height: 300px;
    text-align: center;
}

.tab_list li {
    height: 75px;
    width: 150px;
    line-height: 80px;
    cursor: pointer;
    font-size: 20px;
}

.current {
    background-color: #ff4500;
    color: white;
}

.tab_con {
    float: left;
    margin-left: 60px;
    width: 800px;
    background-color: white;
}

.item {
    display: none;
    padding: 20px;

}

.basicInformation {
    position: relative;
}

.basicInformation>div {
    margin-bottom: 50px;

}

.user-name,
.userName,
.phone-number,
.phoneNumber,
.goods-address,
.address {
    float: left;
}

#add_adress {
    float: right;
}


/* 收藏记录 */
.mycollect {
    padding: 0;
}

.mycollect ul {
    display: flex;
    width: 800px;
    padding: 18px;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    align-content: flex-start;
}

.mycollect li {

    width: 230px;
    height: 330px;

}

.mycollect li:hover {
    border: #c0c0c0 1px solid;
}

.goods-img {
    margin: 0 auto;
    width: 200px;
    height: 200px;

}

.goods-img img {
    width: 100%;
    height: 100%;
}


.bookprice {
    font-size: 20px;
    color: red;

}


.mycollect span em {
    font-style: normal;
    font-weight: 200;
}

.mycollect li em {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    width: 200px;
    font-style: normal;
    font-size: 10px;
    font-weight: 400;
    overflow: hidden;
    margin: 8px auto;
}

.mycollect li em a {
    text-decoration: none;
    color: #666;
}

.mycollect li em a:hover {
    text-decoration: underline;
}

.press {
    font-size: 10px;
    color: #999999;
    margin-bottom: 6px;
}

.add-car {
    margin-left: 53px;
}

.mycollect li span {
    color: red;
    font-size: 14px;
    cursor: pointer;
}

input {
    outline: none;
}

textarea {
    outline: none;
}

.editAddress {
    color: #666;
}

.editAddress:hover {
    color: #ff5000;
    cursor: pointer;
}

/*  */
@font-face {
    font-family: "iconfont";
    /* Project id 3225627 */
    src: url('//at.alicdn.com/t/font_3225627_rmckdaf9iwa.woff2?t=1646617286414') format('woff2'),
        url('//at.alicdn.com/t/font_3225627_rmckdaf9iwa.woff?t=1646617286414') format('woff'),
        url('//at.alicdn.com/t/font_3225627_rmckdaf9iwa.ttf?t=1646617286414') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-gouwuche:before {
    content: "\e73d";
}